.cards {
  background-color: #FAFAFA;
  padding: 0 30px;
}

.cards__list {
  max-width: 1140px;
  margin: 0 auto;
  padding: 80px 0 0;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, 360px);
  grid-template-rows: auto;
  list-style: none;
  gap: 32px 28px;
  justify-content: center;
}

.cards__empty {
  text-align: center;
  color: #A0A0A0;
  margin: 0;
  padding: 79px 0;
}

@media all and (max-width: 1200px) {
  .cards {
    padding: 0;
  }

  .cards__list {
    grid-template-columns: repeat(auto-fill, 342px);
    gap: 25px 10px;
  }
}

@media all and (max-width: 420px) {
  .cards__list {
    gap: 16px 10px;
    padding: 49px 0 0;
  }
}