.footer {
  padding: 0 30px 0;
  background-color: #F8F8F8;
}

.footer__line {
  margin: 0 auto 20px;
  padding-top: 79px;
  font-weight: 400;
  font-size: 13px;
  color: #A0A0A0;
  text-align: center;
}

.footer__links {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E8E8E8;
  font-weight: 400;
  font-size: 13px;
}

.footer__copyright {
  margin: 0;
}

.footer__link {
  margin-left: 20px;
  color: black;
  text-decoration: none;
}

@media all and (max-width: 768px) {
  .footer__links {
    padding: 22px 0;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}

@media all and (max-width: 420px) {
  .footer {
    padding: 0 10px;
  }

  .footer__links {
    padding: 32px 0;
  }

  .footer__line {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__link {
    margin: 0 0 11px;
  }

  .footer__copyright {
    margin-top: 19px;
    font-size: 12px;
    line-height: 15px;
    color: #A0A0A0;
  }
}